.background-div {
    width: 100%; /* Set the width as needed */
    height: 400px; /* Set the height as needed */
    background-image: url('quantumva23/MovieMind/frontend/clouds-3488632_1920.jpg'); /* Set the background image */
    background-size: cover; /* Ensures the image covers the div */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
  }
  